* {
  box-sizing: border-box;
}

header {
  height: 60px;
}

.logo-box {
  padding-left: 5px;
}

.hero-box {
  background: black;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
}

.hero-img {
  width: 100vw;
  height: 70vh;
  opacity: 0.7;
}

.motto-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 79px;
  left: 152px;
  top: 301px;
  color: rgba(255, 255, 255, 1);
  font-family: "Sora", "aileron-semibold-regular", sans-serif;
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 300;
  transform: translate(-50%, -50%);
}

.motto {
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  font-family: "aileron-semibold-regular", sans-serif;
  text-align: center;
  font-weight: bold;
  color: rgba(1, 30, 212, 1);
}

hr {
  width: 80%;
  color: black;
  height: 2px;
  background-color: black;
}
