* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

/* ============================================= */
/*                CSS variables                  */
/* ============================================= */
:root {
  /*    Hamburger variables    */
  --bar-width: 35px;
  --bar-height: 3px;
  --hamburger-gap: 6px;
  --hamburger-menu-background: #6ea3de;
  --hamburger-margin: 6px;
  --animation-timing: 200ms ease-in-out;
  --animation-timing-sidebar: 400ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --hamburger-font-color: #083973;

  /*    Site variables    */
  --foreground: #333;
  --background: white;
  --main-font: "Sora", "Aileron SemiBold", sans-serif;
  --main-title-color: rgba(1, 30, 212, 1);
}

/* ============================================= */
/*                Hamburger menu                 */
/* ============================================= */

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing),
    rotate var(--animation-timing), translate var(--animation-timing);
}

.hamburger-menu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  position: absolute;
  right: var(--hamburger-margin);
  top: var(--hamburger-margin);
  display: flex;
  flex-direction: column;
  border-radius: 6px;
  z-index: 1000;
  gap: var(--hamburger-gap);
  background-color: var(--hamburger-menu-background);
  width: 3rem;
  height: 3rem;
  padding: 13px 0px 10px 0px;
  align-items: center;
  cursor: pointer;
}

.hamburger-menu input {
  appearance: none;
  outline: none;
  pointer-events: none;
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 5px calc(var(--bar-height) / -2);
}

.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 5px calc(var(--bar-height) / 2);
}

.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}

hamburger-nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

hamburger-nav li {
  height: 50px;
}

hamburger-nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

hamburger-nav a:hover {
  background-color: #f0f0f0;
}

.sidebar {
  margin-top: 0rem;
  position: fixed;
  top: 0;
  right: 0;
  min-height: 100vh;
  width: 100vw;
  z-index: 400;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  text-align: center;
  padding-left: 0;
  padding-top: 5rem;
  transition: translate var(--animation-timing-sidebar);
  translate: 100%;
}

.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}

.sidebar ul li {
  width: 100%;
  text-align: center;
}

.sidebar li a {
  font-size: 30px;
  color: var(--hamburger-font-color);
  width: auto;
}

.sidebar li {
  padding-bottom: 6rem;
}

.sidebar a {
  width: 100%;
}

/* ============================================= */
/*             Navigation and header             */
/* ============================================= */

header {
  height: 60px;
  font-family: var(--main-font);
}

nav ul {
  width: 100%;
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

nav li {
  height: 50px;
}

nav a {
  height: 100%;
  padding: 0 30px;
  text-decoration: none;
  display: flex;
  align-items: center;
  color: black;
}

nav a:hover {
  background-color: #f0f0f0;
}

.large-nav {
  display: none;
}

.logo-box {
  padding-left: 5px;
}

/* ============================================= */
/*        Jumbotron main image and title         */
/* ============================================= */

.jumbotron {
  padding-bottom: 2rem;
}

.hero-box {
  background: black;
  width: 100vw;
  height: 70vh;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-image: url(../img/pexels-anthony-derosa-216216_compressed.jpg);
}

.image-overlay {
  width: 100vw;
  height: 70vh;
  background-color: rgba(0, 0, 0, 0.3);
}

.motto-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 86px;
  height: 79px;
  left: 152px;
  top: 301px;
  color: rgba(255, 255, 255, 1);
  font-family: var(--main-font);
  position: absolute;
  top: 40%;
  left: 50%;
  z-index: 300;
  transform: translate(-50%, -50%);
}

.motto {
  font-size: 20px;
  text-align: center;
  line-height: 1.2;
  font-weight: bold;
}

h1 {
  font-family: var(--main-font);
  text-align: center;
  font-weight: bold;
  color: rgba(1, 30, 212, 1);
  padding-bottom: 1rem;
}

#our-services,
#english-sign-check,
#todd-lowrey,
#contact-form {
  margin: 30rem, 0rem, 20rem, 0rem;
}

.sections h2 {
  font-family: (--main-font);
  font-size: 25px;
  font-weight: 500;
  color: rgba(1, 30, 212, 1);
  padding-left: 1rem;
}

.section-card {
  background-color: rgba(241, 241, 241, 1);
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-bottom: 2rem;
}

.section-card h3 {
  padding-left: 1rem;
  padding-top: 0.5rem;
}

.section-card p {
  padding-left: 2rem;
  padding-right: 2rem;
}

#english-sign-check .section-card {
  background-color: white;
}

.profile-img {
  border-radius: 50%;
}

.image-container {
  text-align: center;
  z-index: 100;
}

#todd-lowrey .section-card {
  margin-top: -5rem;
  padding-top: 5rem;
  z-index: -10;
}

#contact-form p {
  padding-left: 2rem;
  padding-right: 2rem;
}

/* ============================================= */
/**             Styling components              **/
/* ============================================= */

hr {
  width: 80%;
  color: black;
  height: 2px;
  background-color: black;
}

/* ============================================= */
/*              Media Queries                    */
/* ============================================= */

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  body {
    background-color: yellow;
  }

  .sidebar {
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 400;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) {
  body {
    background-color: blue;
  }

  .sidebar {
    margin-top: 0;
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    z-index: 400;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) {
  body {
    background-color: green;
  }
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  body {
    background-color: white;
  }
}
